main {
	font-family: 'Noto Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

@font-face{font-family:KaTeX_Main; src:url('/assets/lib/katex/fonts/KaTeX_Main-Regular.woff2') format('woff');
    font-weight:400;
    font-style:normal}

.centered-text {
	margin: auto;
	text-align: center;
}

#title {
	font-size: 2.2em;
	margin-top: 5px;
	margin-bottom: 15px;
}

#subtitle {
	font-size: 1.5em;
}

#skip-button {
	background-color: white; 
  	border: solid 2px black;
  	padding: 10px;
  	display: inline-block;
  	float: left;
  	margin-top: -10px;
  	font-size: 1em;
}

#top-row {
	text-align: center;
}

#score-wrapper {
	display: inline-block;
  	width: 80px;
  	left: 50% !important;
}

#timer-wrapper {
	display: inline-block;
  	float: right;
}

#score {
	font-family: KaTeX_Main, serif;
	font-size: 1.2em;
}

#timer {
	font-family: KaTeX_Main, serif;
	font-size: 1.2em;
}

.latex {
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px black;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.correct {
	border-color: #0d0;
}

.done {
	color: #d00;
}

#target {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width : 992px) {
  	#container {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
  	}
}

#container {
	width: 70%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#out {
	margin-left: auto;
	margin-right: auto;
}

#user-input {
	font-family: 'Roboto Mono', monospace;
	resize: none;
	background-color: black;
	font-size: 20px;
	color: white;
	height: 100px;
	width: 100%;
}

#result {
	height: 20px;
}

#problem-title {
	font-size: 1.5em;
}