main {
	font-family: 'Noto Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#timer {
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	position: absolute;
	height: 40px;
	width: 60px;
	border-bottom: solid 2px black;
	border-left: solid 2px black;
	top: 0;
	right: 0;
}

.centered-text {
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 2.2em;
	margin-top: 5px;
	margin-bottom: 15px;
}

#subtitle {
	font-size: 1.5em;
}

.latex {
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px black;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.correct {
	border-color: #0d0;
}

.done {
	color: #d00;
}

#target {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width : 992px) {
  	#container {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
  	}
}

#container {
	width: 70%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#out {
	margin-left: auto;
	margin-right: auto;
}

#user-input {
	font-family: 'Roboto Mono', monospace;
	resize: none;
	background-color: black;
	font-size: 20px;
	color: white;
	height: 100px;
	width: 100%;
}

#result {
	height: 20px;
}
